#root {
  width: 1000px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #FFB6C1; 
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-top: 50px; 
  padding: 5em;
  filter: drop-shadow(10px 10px); 
}


.read-the-docs {
  color: #888;
}

.reply {
  margin-top: 10px; 
  margin-bottom: 10px;
  padding: 10px 0; 
}
